Package: com.opa334.savevideodialog
Name: SaveVideoDialog
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Alert to prevent a recorded video from being saved
Maintainer: opa334
Author: opa334
Section: Tweaks
